@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Black+Han+Sans&family=Do+Hyeon&family=Dongle&family=Gothic+A1&family=Gowun+Dodum&family=IBM+Plex+Sans+KR&family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR&family=Stylish&family=Sunflower:wght@500&display=swap');

body {
    font-size: 1rem;
    font-family: "IBM Plex Sans KR", sans-serif;
}

#menu {
    width: 200px;
    height: 800px;
    float: left; 
    background: #180a98; 
    border-radius: 10px;
    font: 1em sans-serif white;
}

#menuText {
    float: left; 
    margin-top: 20px; 
    margin-left: 10px; 
    margin-left: 10px; 
    color: white;
}

#menuInput {
    float: left; 
    margin-top: 20px; 
    margin-left: 10px; 
    margin-left: 10px;
}

#minimap {
    width: 150px; 
    height: 200px; 
    position: absolute; 
    opacity: 0.3; 
    background: #98989b;
}

#chart {
    width: 600px; 
    height: 800px; 
    float: left;
}

.node {
    border-radius: 25px;
}

.nodeText {
    text-anchor: "middle";
}

.selectNode {
    fill: #EB2D20;
    stroke: #EB2D20;
}
